workflow/Doctor Appointment.json
{
  "name": "Doctor Appointment",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are an AI Assistant for a Doctor Clinic.\nYour role is to handle doctor’s appointment bookings via WhatsApp.\nYou must always keep track of the user’s progress with simple memory, and store/retrieve data in Google Sheets.\nPayments are handled via Stripe or Cash on Clinic.\nAlways be polite, WhatsApp-friendly, and guide users step by step.\n\nCore Workflow:\n\nGreeting & Main Menu\n\nWhen a user sends any message for the first time, greet them:\n\"Hello, Welcome to Doctor Clinic!\nPlease choose an option:\n\n1. New Booking\n2. My Upcoming Bookings\n3. Reschedule Booking\n4. Cancel Booking\"\n\nWait for the user’s choice.\n\nNew Booking Flow\n(a) Patient Lookup\n\nget user registered patients\n\nIf patients exist with , show patient list and ask which one to use.\n\nIf no patient exists for given WhatsApp number or user selects \"Add New Patient\":\n\nAsk for Name, Age, Gender.\n\nSave to Patients sheet.\n\nagain fetch the latest patient list for user \n\nShow updated patient list with patient_id ( must be displayed to user ), name, age and gender then ask which one to use ( user can reply with number option also ). \n\n(b) Date Selection\n\nGet the today's date and time from system\n\nGenerate 7 days (today + 6 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\n(c) Time Slot Selection\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 60 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using give date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\n(d) Payment Options\n\nAfter time is selected, ask:\n\"How would you like to pay?\n\n1. Online (Stripe)\n2. Cash at Clinic\"\n\n(e) Confirmation Message\n\nAfter taking all the data add the appointment in appointment sheet if user selects online (stripe) then save payment_method \"Stripe\"\n\nand send confirm message with:\n\"Appointment booked!\nPatient: {name}\nDate: {date}\nTime: {time}\nPayment Method: {method}\nPayment Status: Not paid\nStatus: Confirmed\"\n\nMy Upcoming Bookings Flow\n\nGet the current date and time from system\n\nLook up all future user appointments.\nGet all user patients.\n\nshow them as a list with user name , booking date , booking time\n\nReschedule Flow\n\nLook up all future confirmed appointments for the user.\nGet all user patients.\n\nShow them as a list with appointment id, user name, appointment date & time.\n\nAsk which one to reschedule.\n\nGet the today's date and time from system\n\nGenerate 7 days (today + 6 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 60 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using give date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\nafter the current system time ( if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\nafter picking one update the old appointment details with selected date and time \n\nand give a message to user that appointment has been reschedule and give details for new rescheduled appointment with patient details.\n\nCancel Flow\n\nGet the today's date and time from system\n\nLook up all future user appointments.\n\nShow them as a list with appointment id, appointment date & time .\n\nAsk which one to cancel.\n\nthen Cancel the selected appointment Appointment sheet.\n\nSend confirmation:\n\"Your appointment on {date} at {time} has been cancelled.\"\n\nGoogle Sheets Structure:\nPatients: patient_id, whatsapp_number, name, age, gender\nAppointments: appointment_id, patient_id, whatsapp_number, date, time, payment_method, payment_status, status, stripe_payment_intent\nConfig Sheet: key, value ( working_hours=10:00-18:00)\n\nMemory Rules:\n\nAlways remember where the user left off (menu, patient selection, date, time, payment).\n\nIf the user sends something invalid, say:\n\"Sorry, I didn’t understand that. Please reply with one of the given options.\"\n\nIf the user returns later, continue from the last remembered step.\n\nStyle Guide:\n\nsingle patient can register multiple patients and book as many appointments.\n\nKeep messages short, clear, and WhatsApp-friendly.\n\nUse numbers for options ( like reply with  1, 2, 3 ).\n\nAlways confirm before finalizing.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        616,
        120
      ],
      "id": "ffce4833-5996-4e97-8215-d12f70d4fe20",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        344
      ],
      "id": "5007e0de-e462-44a6-8813-8e9802da40ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SwQA4XNVLKwP3HOV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        344
      ],
      "id": "baaa1d91-3567-45e5-9434-53e22398d944",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        120
      ],
      "id": "2b366ba4-8031-43cf-a4c9-c102d3e950f4",
      "name": "WhatsApp Trigger",
      "webhookId": "0239da30-c476-4314-bae5-ad564c771744",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "3JyH5FGBgfktTLRT",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 960218571,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=960218571"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        344
      ],
      "id": "a4101c5f-eb64-4aa4-b67b-bd53da698833",
      "name": "Doctor Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "whatsapp_number",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        344
      ],
      "id": "39e5535b-f628-49af-9d1a-96d6bb4368e8",
      "name": "Get Patient List for Users",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $now.toMillis() }}",
            "whatsapp_number": "={{ $json.contacts[0].wa_id }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('age', ``, 'string') }}",
            "gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gender', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        344
      ],
      "id": "099bb31a-8fbc-4e2d-ae55-effcedc45ac9",
      "name": "Add Patient",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1992319104,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=1992319104"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "whatsapp_number",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        688,
        344
      ],
      "id": "45ea28a8-4163-4144-b789-21564eb9dd79",
      "name": "Get User Appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1992319104,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=1992319104"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $now.toMillis() }}",
            "whatsapp_number": "={{ $json.contacts[0].wa_id }}",
            "patient_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_id', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "payment_status": "Pending",
            "status": "Confirmed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        816,
        344
      ],
      "id": "67971fa1-93d0-4b56-93ea-eb62cf7f9db8",
      "name": "Add Appoinment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1992319104,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=1992319104"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        944,
        344
      ],
      "id": "7405e0a7-874f-46c6-b4ce-ae8336db7498",
      "name": "Get All Appoinments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1992319104,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=1992319104"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1072,
        344
      ],
      "id": "5b036a76-8fad-4719-9fe3-3b673c80945e",
      "name": "Reschedule Appoinment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1992319104,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=1992319104"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "status": "Cancelled"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1200,
        344
      ],
      "id": "e295e585-ad96-4a28-a94d-9163d46fbb1a",
      "name": "Cancel Appoinment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vf7puMz7kpzeI0gy",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Colombo"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1328,
        344
      ],
      "id": "e7dad439-f368-4b1e-9c65-630363a36b65",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1116777334852073",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1536,
        120
      ],
      "id": "c0b56f0e-3b72-434f-bb0d-62eafbad85f6",
      "name": "Send message",
      "webhookId": "2fc0e4a5-7036-43e3-a5f5-e9aa5c97168a",
      "credentials": {
        "whatsAppApi": {
          "id": "beHZWVjNFXYbNhHE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI",
          "mode": "list",
          "cachedResultName": "Doctor Appointment Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1992319104,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IHa2UNtEtThEltLg_8bgvLAOjYzxSglq8UgPiRZ_LhI/edit#gid=1992319104"
        },
        "event": "rowAdded",
        "options": {
          "dateTimeRenderOption": "FORMATTED_STRING"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -208
      ],
      "id": "2f1a1338-7b1d-4d17-b775-715b6edf2221",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "tTiESNtZBdb3yeYX",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d6a13eb-54cc-47d2-b14f-623ceaa7f1c2",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "stripe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5091c363-ee64-41ad-b94d-60ed38126167",
              "leftValue": "={{ $json.payment_method }}",
              "rightValue": "Stripe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        -208
      ],
      "id": "4e9e742b-3f26-483d-83a0-dbf162889453",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk_test_51TPK5HGebKFFL1Ol7lclzskfdpaTRtMUWkhP0cZdUF0ZVEAoQtUoJDwb4rzyCRwWhrAAFug0pXAKOKbZjdaePTTK00wTNZH5x6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata[appointmentId]",
              "value": "={{ $('Google Sheets Trigger').item.json.appointment_id }}"
            },
            {
              "name": "line_tems[0][quantity]",
              "value": "1"
            },
            {
              "name": "line_tems[0][price_data][product_data][name]",
              "value": "Appointment Booking"
            },
            {
              "name": "line_tems[0][price_data][unit_amount]",
              "value": "5000"
            },
            {
              "name": "line_tems[0][price_data][currency]",
              "value": "usd"
            },
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "success_url",
              "value": "https://wa.me/15551726615"
            },
            {
              "name": "cancel_url",
              "value": "https://wa.me/15551726615"
            },
            {
              "name": "metadata[whatsappNo]",
              "value": "={{ $('Google Sheets Trigger').item.json.whatsapp_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -208
      ],
      "id": "27893b0e-3fd9-405f-8a76-1c90089f7b52",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1116777334852073",
        "recipientPhoneNumber": "={{ $('Google Sheets Trigger').item.json.whatsapp_number.toString() }}",
        "textBody": "=This is the link to pay for your appoinment Id :  {{ $('Google Sheets Trigger').item.json.appointment_id }}\n\n\n<p>{{ $json.url }}</p>",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        496,
        -208
      ],
      "id": "dc9ac21b-99e7-44e5-a609-cc4cf53913be",
      "name": "Send Payment Link",
      "webhookId": "65a25f9b-74df-451e-9fd2-b209e61913a4",
      "credentials": {
        "whatsAppApi": {
          "id": "beHZWVjNFXYbNhHE",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "payment_intent.succeeded"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -432
      ],
      "id": "1db220f6-530e-4331-9cbe-d29f0ac47f07",
      "name": "Stripe Trigger",
      "webhookId": "2db192d9-ce1d-4eae-aec5-eb35dd07ba54",
      "credentials": {
        "stripeApi": {
          "id": "Dhx0AZxd3R6P6KDL",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        -432
      ],
      "id": "4f8de4c7-a41b-499b-be1f-a489294aad18",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doctor Config": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient List for Users": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Patient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Appoinment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get All Appoinments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appoinment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appoinment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Payment Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eeb712b0-c91d-4f16-b345-74663fb76765",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93dd8f801bbde4d9fc0459fd87bb406937a448bd5a91bda156b70e6295fb9a77"
  },
  "id": "bjShNamkNukKBOT8",
  "tags": []
}